body{
	background-color: #fff;
}
main{
	background-color: #ddd;
	border-radius: 5px;
}
#title{
	font-size:48px;       
	text-align:center;
	font-weight:900px;
}

#head-para{
	text-align: center;
	font-size:1.5rem;
	padding: 0px 0px 0px 10px;
}

#img-div{
	text-align: center;
	background-color:#fff;
	margin:10px;
}
figcaption{
	padding-bottom:5px;
	font-style:italic;
}
#image{
	padding: 10px;
	width: 800px;
	height: 400px;
}

#img-caption{
	display: block;
}
#span{
	display: flex;
	justify-content: center;
	padding: 15px;
	font-size:1.2rem ;
	background-color: #fff;	
}
