body{
	background-color: #ddd;
}
#title{
	font-size:48px;       
	text-align:center;
	font-weight:900px;
}
#head-para{
text-align:center;
font-size:1.5rem;
padding: 0px 0px 0px 10px;
}
#img-div{
background-color:#fff;
}
#image{
	
	
}